.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111126;
  color: white;
  font-size: 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

.header__button {
  width: 36px;
  height: 36px;
  background-color: antiquewhite;
  border: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.list__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid orange;
}


.list__itemButton {
  width: 36px;
  height: 36px;
  background-color: antiquewhite;
  border: none;
}

.list__itemEdit {
  display: block;
  height: 32px;
  background-color: #111126;
  color: white;
  outline: none;
  border-radius: 6px;
  font-size: 18px;

}

.input {
  display: block;
  height: 32px;
  font-size: 20px;
  background-color: #111126;
  border-color: orange;
  color: white;
  outline: none;
  border-radius: 6px;
  margin: auto 10px 20px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}